---
import BaseLayout from '../layouts/BaseLayout.astro'
import TimeLineElement from '../components/cv/TimeLine.astro'
import SkillCard from '../components/SkillCard.astro'
import CardExperience from '@comp/CardExperience.astro'

const experience = [
  {
    empresa: 'Bardahl Bolivia, Bolivia',
    puesto: 'Front End Developer',
    subtitle: 'Desde 05/23 hasta 06/23 en Bardahl Bolivia, Remoto, Bolivia',
    descripcion: [
      'Implementé el diseño para una landing page en Astro.',
      'Desarrollé una landing page informativa.',
      'Realicé optimización y SEO.',
      'Trabajé en conjunto de Astro y Svelte.',
      'Aplicación de componentización.',
      'Seguí buenas prácticas de desarrollo.',
    ],
  },
  {
    empresa: 'El-Krusta, Tucumán',
    puesto: 'Front End Developer',
    subtitle: 'Desde 03/23 hasta 05/23 en El-Krusta, Tucumán, Argentina',
    descripcion: [
      'Implementé una solución para tomar pedidos a través de WhatsApp.',
      'Desarrollé una página web con funcionalidades de carrito de compras y lista de favoritos.',
      'Integré la opción de continuar la compra a través de WhatsApp para una atención más personalizada.',
      'Creé un panel de administración para permitir la carga de productos de manera sencilla.',
    ],
  },
]

const projects = [
  {
    empresa: 'Airbnb Clone',
    puesto: 'Full Stack Developer',
    descripcion: [
      'Registro de usuarios',
      'Búsqueda de alojamientos',
      'Visualización de listados',
      'Reservas y solicitud de reserva',
      'Calendario de disponibilidad',
      'Interfaz intuitiva y atractiva',
    ],
  },
  {
    empresa: 'Tech Ecommerce',
    puesto: 'Full Stack Developer',
    descripcion: [
      'Desarrollo del Back End utilizando Strapi.',
      'Creación de la interfaz de usuario (UI) en el Front End utilizando TailwindCSS.',
      'Implementación de animaciones utilizando Framer Motion.',
      'ReduxToolkit como estado global y Redux Persist para guardar datos en el almacenamiento local y evitar peticiones innecesarias.',
      'Notificaciones utilizando React Hoot Toast para agregar, eliminar, aumentar o reducir productos del carrito.',
      'Búsqueda, ordenamiento y filtros para una mejor experiencia de usuario en la página web.',
    ],
  },
  {
    empresa: 'Candy Shop',
    puesto: 'Full Stack Developer',
    descripcion: [
      'Desarrollo del Back End utilizando Express y PostgreSQL.',
      'Trabajo en equipo usando SCRUM.',
      'Sprints de 1 semana.',
      'Autenticación y autorización de usuarios.',
      'Creación de la interfaz de usuario (UI) en el Front End utilizando React con Chakra UI.',
      'Implementación de animaciones utilizando Framer Motion.',
      'Redux como estado global y Local Storage para guardar datos en el almacenamiento local y evitar peticiones innecesarias.',
      'Búsqueda, ordenamiento y filtros para una mejor experiencia de usuario en la página web.',
      'Carrito de compras, favoritos, panel de administrador.',
    ],
  },
]

const skills = [
  'typescript',
  'javascript',
  'react',
  'next js',
  'astro',
  'zustand',
  'redux',
  'redux toolkit',
  'css',
  'tailwind',
  'chakra-iu',
  'node js',
  'express',
  'Nest js',
  'mongodb',
  'postgreSQL',
  'sequelize',
  'mongoose',
  'Type ORM',
  'prisma',
]
---

<BaseLayout title='Resume'>
  <div class='mb-5'>
    <div class='text-3xl w-full font-bold'>Perfil</div>
  </div>

  <div class='mb-10 flex flex-col items-start gap-3 text-justify'>
    <p class='leading-8 font-light'>
      ¡Hola! Soy Ivan Bongiovanni, un desarrollador front end con experiencia en equipo 🤝 usando
      Scrum.
    </p>

    <p class='leading-8 font-light'>
      Mi objetivo como desarrollador es seguir mejorando mis habilidades tanto técnicas como
      blandas, y formar parte de un equipo laboral con las mismas expectativas o aún mejores. Estoy
      siempre dispuesto a aprender y capacitarme en nuevas tecnologías.
    </p>

    <p class='leading-8 font-light'>
      Si está buscando un desarrollador Front End con habilidades sólidas, comprometido con el
      trabajo en equipo y la mejora continua, estoy seguro de que sería una excelente incorporación
      a su equipo.
    </p>
  </div>

  <div class='mb-5'>
    <div class='text-3xl w-full font-bold'>Experiencia</div>
  </div>

  <div class='time-line-container mb-10'>
    {
      experience.map((exp) => (
        <CardExperience puesto={exp.puesto} subtitle={exp.subtitle} descripcion={exp.descripcion} />
      ))
    }
  </div>

  <div class='mb-5'>
    <div class='text-3xl w-full font-bold'>Proyectos</div>
  </div>

  <div class='time-line-container mb-10'>
    {
      projects.map((project) => (
        <CardExperience
          empresa={project?.empresa}
          puesto={project?.puesto}
          descripcion={project?.descripcion}
        />
      ))
    }
  </div>

  <div class='mb-5'>
    <div class='text-3xl w-full font-bold'>Certifications</div>
  </div>

  <ul class='list-disc mx-6 mb-10 grid gap-2'>
    <li class='badge badge-lg py-5'>
      <a
        href='https://certificates.soyhenry.com/cert?id=a2226156-bb27-4ecf-9b39-5630c09d47c0'
        target='_blank'
      >
        Full Stack Developer (Soy Henry)</a
      >
    </li>
  </ul>

  <div class='mb-5'>
    <div class='text-3xl w-full font-bold'>Skills</div>
  </div>

  <ul class='flex flex-wrap items-center gap-4 pb-5'>
    {skills.map((skill) => <SkillCard skill={skill} />)}
  </ul>

  <div class='mb-5'>
    <div class='text-3xl w-full font-bold'>Education</div>
  </div>

  <div class='time-line-container grid gap-4 mb-10'>
    <TimeLineElement
      title='Programador Universitario'
      subtitle='2022 en progreso, Universidad Nacional de Tucuman, Tucumán, Argentina'
    />
    <TimeLineElement
      title='Full Stack Developer'
      subtitle='2022 graduado en 2023, Soy Henry Bootcamp, Remoto, Argentina'
    />
    <TimeLineElement
      title='Perito Mercantil'
      subtitle='2016 graduado en 2022, Secundario Ballesteros, Tucumán Lules, Argentina'
    />
  </div>
</BaseLayout>
