---
const { title, img, desc, url, badge, tags, target = '_blank', gitHub } = Astro.props
import GitHubIcon from './GitHubIcon.astro'
import RedIcon from './RedIcon.astro'
---

<div class='rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out'>
  <a href={url} target={target}>
    <div class='hero-content flex-col md:flex-row'>
      {
        img && (
          <img
            src={img || 'https://via.placeholder.com/300x300?text='}
            width={750}
            alt={title}
            class='max-w-full md:max-w-[13rem] object-cover rounded-lg'
          />
        )
      }
      <div class='grow w-full'>
        <h2 class='text-xl font-bold'>
          {title}
          {badge && <span class='badge badge-secondary mx-2'>{badge}</span>}
        </h2>
        <p class='py-1 text-1xl'>{desc}</p>
        <div class='card-actions justify-end'>
          {tags && tags.map((tag) => <div class='badge badge-outline'>{tag}</div>)}
        </div>
        {
          (url || gitHub) && (
            <div class='mt-5 w-10 h-10 flex items-center justify-between gap-4'>
              {gitHub && (
                <a target='_blank' href={gitHub} class='btn cursor-pointer btn-outline btn-circle'>
                  <GitHubIcon className='w-9 h-9  lg:w-10 lg:h-10' />
                </a>
              )}
              {url && (
                <a target='_blank' href={url} class='btn cursor-pointer btn-outline btn-circle'>
                  <RedIcon className='w-9 h-9  lg:w-10 lg:h-10' />
                </a>
              )}
            </div>
          )
        }
      </div>
    </div>
  </a>
</div>
